$bg_color: rgba(15, 122, 139, 0.747);
$bg_color_lite: rgba(184, 189, 190, 0.548);
$bg_intro_title: rgba(219, 170, 91, 0.547);
$text_bg: rgb(239, 237, 230);
$shadow_color: rgba(59, 59, 60, 0.632);
$border_color: rgba(69, 83, 82, 0.364);
$font_color: rgb(41, 37, 37);
$btn_font_color: rgb(41, 27, 27);
$base: 0.6rem;
$intro_font: 'Merriweather Sans',
sans-serif;
$heading_font: 'Exo',
sans-serif;
$text_font: 'Proza Libre',
sans-serif;
$edu_font: 'Edu VIC WA NT Beginner', cursive;
$rubik_font: 'Rubik', sans-serif;
$varela_font: 'Varela Round', sans-serif;

// ********************* INTRO *********************

.intro-container {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(12, 1fr);
   font-family: $varela-font;
   color: $font-color;
   justify-items: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   z-index: -1;
}

.intro-bg-img {
   grid-area: 1 / 1 / 13 / 13;
}

.intro-bg-img img {
   width: 100vw;
   height: 100vh;
}

.circle {
   width: 100%;
   height: 80%;
   overflow: hidden;
   position: relative;
   border-radius: 40%;
   grid-area: 1 / 1 / 10 / 7;
   background-color: $bg_color_lite;
   z-index: 0;
   margin: -25em 0 0 -30em;
   padding: 3em;
}

.pic-container img {
   max-width: 100vw;
   max-height: 100vh;
}

.intro {
   grid-area: 1 / 1 / 3 / 5;
   border-radius: 10px;
   background: transparent;
   font-size: 3vw;
   background: transparent;
   justify-self: start;
   margin-left: 2.5em;
   z-index: 1;
}

.intro-airbnb {
   grid-area: 2 / 1 / 5 / 5;
   z-index: 1;
}

.airbnb-png {
   width: 18vw;
   margin: -2em 0 0 4em; 
}

.intro-title {
   grid-area: 4 / 1 / 6 / 4;
   font-size: 2vw;
   margin: 0.5em 0 0 2em;
   background-color: $bg_intro_title;
   border-radius: 20px;
   border: 1px solid rgb(43, 43, 43);
   box-shadow: -6px -4px rgba(40, 40, 40, 0.58);
   padding: .5em;
   justify-self: start;
   text-align: center;
   z-index: 1;
}

@media only screen and (max-width: 768px){
   .intro-bg-img img {
      width: 80%;
      height: 100%;
      overflow: hidden;
   }
}

// *** Arrow Animation ***

.arrow-down {
   grid-area: 9 / 1 / 10 / 2;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 10%;
   height: 10vh;
}

.chevron {
   position: absolute;
   width: $base * 3.5;
   height: $base * 0.8;
   opacity: 0;
   transform: scale(0.3);
   animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
   animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
   animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
content: '';
position: absolute;
top: 0;
height: 100%;
width: 50%;
background: #2c3e50;
}

.chevron:before {
left: 0;
transform: skewY(30deg);
}

.chevron:after {
right: 0;
width: 50%;
transform: skewY(-30deg);
}

@keyframes move-chevron {
   25% {
      opacity: 1;
      }
   33.3% {
      opacity: 1;
      transform: translateY($base * 3.8);
   }
   66.6% {
      opacity: 1;
      transform: translateY($base * 5.2);
   }
   100% {
      opacity: 0;
      transform: translateY($base * 8) scale(0.5);
   }
}

// ********************* ABOUT *********************

.about-container {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(2, 1fr);
   // border-top: 2px solid rgb(50, 74, 87);
   background-color: $bg_color_lite;
}

.decorative-container-about {
   width: 105%;
   height: 105%;
   overflow: hidden;
   position: relative;
   grid-area: 1 / 8 / 3 / 13;
   z-index: 5;
   background: transparent;
}

.decorative-container-about::before {
   content: "";
   display: block;
   width: 200%;
   height: 200%;
   position: absolute;
   border-radius: 50%;
   top: 0;
   right: 0;
   box-shadow: 200px -200px 0 0 rgb(55, 87, 96);
}

.profile-img {
   background: transparent;
   grid-area: 1 / 1 / 3 / 6;
}

.profile-img img {
   width: 80%;
   z-index: 1;
   margin: 10% 0 5% 10%;
   border: 8px solid black;
   border-radius: 50%;
}

.about-me-text {
   grid-area: 1 / 6 / 3 / 12;
   padding-top: 15%;
   background: transparent;
   z-index: 1;
}

.about-me-text h1 {
   font-family: $rubik-font;
   font-size: 3em;
}

.about-me-text hr {
   margin-bottom: 3%;
   width: 70%;
}

.about-me-text p {
   grid-area: 2 / 3 / 3 / 4;
   z-index: 1;
   background: transparent;
   font-family: $text_font;
   font-size: 1.1em;
   width: 70%;
}


// ********************* SERVICES *********************

.services-container {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(6, 1fr);
   border-bottom: 2px solid rgb(50, 74, 87);
   background-color: $bg_color_lite;
}

.decorative-container-services {
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;
   grid-area: 1 / 1 / 7 / 7;
   z-index: 5;
   background: transparent;
}

.decorative-container-services::before {
   content: "";
   display: block;
   width: 200%;
   height: 200%;
   position: absolute;
   border-radius: 50%;
   bottom: 0;
   left: 0;
   box-shadow: -500px 500px 0 0 rgb(50, 74, 87);
}

.bedroom-img {
   background: transparent;
   grid-area: 1 / 7 / 3 / 13;
}

.bedroom-img img {
   width: 80%;
   z-index: 2;
   padding: 5px;
   border: 8px solid black;
   border-radius: 100px;
}

.services-text-pp1 {
   grid-area: 1 / 1 / 2 / 6;
   padding: 5% 0 0 15%;
   background: transparent;
   z-index: 1;
}

.services-text-pp1 h1 {
   font-family: $rubik-font;
   font-size: 3em;
   background: transparent;
}

.services-text-pp1 hr {
   margin-bottom: 3%;
   width: 70%;
}

.services-text-pp1 p {
   grid-area: 2 / 3 / 3 / 4;
   z-index: 1;
   background: transparent;
   font-family: $text_font;
   font-size: 1.1em;
   width: 70%;
}

.link a {
   cursor: url(point-click.png), pointer;
   text-decoration: none;
   font-style: italic;
   color:rgb(7, 103, 142)
}


// ********************* BUTTON *********************

@mixin btn__split($border_color, $bg_color_lite, $font_color) {
   .btn {
      position: relative;
      letter-spacing: 0.25em;
      margin: 0 auto;
      padding: 1em 2.5em;
      background: transparent;
      outline: none;
      font-size: 2em;
      color: $btn_font_color;
      z-index: 1;

      &::after,
      &::before {
         content: "";
         position: absolute;
         height: 100%;
         width: 100%;
         transform: skewX(30deg);
         transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
         z-index: -2;
      }

      &::before {
         background-color: $bg_color_lite;
         top: -.5em;
         left: -1.5em;
      }

      &::after {
         background-color: rgba(204, 204, 93, 0.559);
         top: .5em;
         left: 1.5em;
      }

      &:hover {

         &::before,
         &::after {
            top: 0;
            transform: skewx(0deg);
         }

         &::after {
            left: -1.5em;
         }

         &::before {
            left: 2em;
         }
      }
   }
}

.button-container {
   padding-top: 4em;
   text-align: center;
   width: auto;
   margin: auto;
   grid-area: 3 / 5 / 4 / 8;
}

.button-container a {
   text-decoration: none;
   font-family: $text_font;
   font-weight: 600;
   cursor: url(point-click.png), pointer;
}

@include btn__split($border_color, $bg_color_lite, $font_color);

.space-holder {
   height: 10em;
}


// ********************* FOOTER *********************

.footer {
   display: flex;
   justify-content: center;
   background-color: rgb(50, 74, 87);
}

.footer p {
   background: transparent;
   color: rgb(170, 167, 167);
   font-family: $text_font;
   font-size: 0.75em;
   padding: 10% 0;
}