* {
   margin: 0;
   padding: 0;
   background-color: #d9d8d3;
}

.app {
   width: 100vw;
   height: 100vh;
   cursor: url(./components/3d_pointer-cursor.png), auto;
}

#curved-corner-bottomleft,
#curved-corner-bottomright,
#curved-corner-topleft
#curved-corner-toprignt {
   width: 100px;
   height: 100px;
   overflow: hidden;
   position: relative;
}

#curved-corner-bottomleft:before,
#curved-corner-bottomright:before,
#curved-corner-topleft:before,
#curved-corner-topright:before {
   content: "";
   display: block;
   width: 200%;
   height: 200%;
   position: absolute;
   border-radius:50%;
}

#curved-corner-bottomleft:before {
   bottom: 0;
   left: 0;
   box-shadow: -50px 50px 0 0 red;
}

#curved-corner-bottomright:before {
   bottom: 0;
   right: 0;
   box-shadow: 50px 58px 0 0 red;
}

#curved-corner-topleft:before {
   top: 0;
   left: 0;
   box-shadow: -50px -50px 0 0 red;
}

#curved-corner-topright:before{
   top: 0;
   right: 0;
   box-shadow: 50px -50px 0 0 red;
}